.page-header {
  background-color: #d69721;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #FFFFFF;
  height: 520px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.header-name {
  font-size: 40px;
}
