.nav-container {
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-title {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

.nav-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color: red;
}

/* Mobile Styles */
@media only screen and (max-width: 420px) {
  .nav-container {
    background-color: transparent;
    position: absolute;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 1023px) {
  .nav-container {
    position: absolute;
  }
}

/* Laptops / Desktops*/
@media only screen and (min-width: 1024px) {
  .nav-container {
    background-color: #4056A1;
  }
}
